h2{
  font-size: 30px;
  font-family: "Comic Sans";
}
h1{
  font-size: 30px;
}
h3{
  font-size: 30px;
  font-family: "Brush Script MT", cursive;
}
body{
  font-family: "Brush Script MT", cursive;
  background-color: lightblue;
  font-size: 20px;
}
p {
  font-family: "Comic Sans";
  font-size: 40px;
}
