Marquee {
  color: #6287c4;
  font-size: 75px;

}
body {
  background-color: #ffdefb;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;


}
ul {
  text-align: center;

  list-style: none;
}

h1 {
  font-family: "Harrington", fantasy;
  font-size: 30px;
}

h2 {
  text-align: center;
  text-decoration: underline;
} 
